/* Clubhouse style overrides */

#app-root {
  top: 120px;
  position: absolute;
}

.story-cards-v2 #sidebar {
  top: 0 !important;
}

/* Standup app styles */

#standupContainer {
  position: absolute;
  top: 65px;
  height: 40px;
  width: calc(100% - 120px);
  margin-left: 95px;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.container {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

#wrapper {
  display: inline;
}

#picked {
  font-weight: 200;
}

.section {
  display: inline-block;
  margin: 0 10px;
}

.parking {
  display: inline-block;
  padding: 10px;
}

#timerCountdown {
  font-weight: 200;
}

#standupContainer button {
  color: #ce2333;
  border-radius: 50px;
  border: 2px solid #ce2333;
  font-weight: 700;
  padding: 8px 12px;
  background: #fff;
  transition: all .5s;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}

#standupContainer button:hover {
  color: #fff;
  background: #ce2333;
}

#standupContainer button.end {
  color: #fff;
  background: #ce2333;
  float: right;
}

#standupContainer button.end:hover {
  background: #a21c28;
  border: 2px solid #a21c28;
}

.timer-up {
  font-weight: 600 !important;
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% { color: #ce2333; }
  49% { color: #ce2333; }
  60% { color: transparent; }
  99% { color:transparent; }
  100% { color: #ce2333; }
}

/* 
.confetti {
  position: fixed;
  top: -10%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  user-select: none;
  cursor: default;
  animation-name: peices-fall, peices-shake;
  animation-duration: 2s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.confetti:nth-of-type(0) {
  left: 0%;
  animation-delay: 0s, 0s;
}

.confetti:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1.2s;
}

.confetti:nth-of-type(2) {
  left: 20%;
  animation-delay: 6.1s, .5s;
}

.confetti:nth-of-type(3) {
  left: 30%;
  animation-delay: 4.5s, 2.3s;
}

.confetti:nth-of-type(4) {
  left: 40%;
  animation-delay: 4s, 3s;
}

.confetti:nth-of-type(5) {
  left: 50%;
  animation-delay: 8.8s, 3s;
}

.confetti:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s;
}

.confetti:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s;
}

.confetti:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0.3s;
}

.confetti:nth-of-type(9) {
  left: 90%;
  animation-delay: 3s, 1.5s;
}

.confetti:nth-of-type(10) {
  left: 5%;
  animation-delay: 2.6s, 0s;
}

.confetti:nth-of-type(11) {
  left: 12%;
  animation-delay: 10s, 2.2s;
}

.confetti:nth-of-type(12) {
  left: 24%;
  animation-delay: 3.4s, 1s;
}

.confetti:nth-of-type(13) {
  left: 38%;
  animation-delay: 1.1s, 2.3s;
}

.confetti:nth-of-type(14) {
  left: 43%;
  animation-delay: 5.7s, 3s;
}

.confetti:nth-of-type(15) {
  left: 56%;
  animation-delay: 9.6s, 1s;
}

.confetti:nth-of-type(16) {
  left: 65%;
  animation-delay: 8.1s, 4.1s;
}

.confetti:nth-of-type(17) {
  left: 71%;
  animation-delay: 3.3s, 0s;
}

.confetti:nth-of-type(18) {
  left: 83%;
  animation-delay: 7.4s, 0.6s;
}

.confetti:nth-of-type(19) {
  left: 92%;
  animation-delay: 4.5s, 0.9s;
} */